{% extends "layout.html" %}
{% block body %}
   <select id="device"> 
    {% for option in options %}
      <option value="{{option}}" 
	      {% if option == selected %} selected {% endif %}>{{ option }}
      </option>
    {% endfor %} 
    </select>
    <div id="hist_plot" style="width: 50em; height: 30em; margin: 0"></div>
    <button id="update">Update Histogram</button>
  {% if in_progress %}
    <button id="continual">Start Continual Refresh</button>
    <button id="stop" style="display: none">Stop Continual Refresh</button>
    <input type=text id="rep_rate" size="1" value="{{r_rate}}">
      Refresh Rate (Hz)</input>
    <br>
    <font color="red" id="rate_failure" style="display: none">rate must between 0 and 5 Hz</font>
  {% endif %}

  <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
	   namespace = '/online';
	   var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

	   socket.emit('update histogram', {"selected":$('#device').val()});

	   socket.on('histogram ready', function(msg) {
	       $('#rate_failure').hide();
	       var histdata = google.visualization.arrayToDataTable(msg.data);
	       var options = {
		   title: msg.title,
		   legend: {
		       position: 'none'
		   },
		   hAxis: {
		       title: "pulse amplitude (+ polarity)",
		   },
		   vAxis: {
		       title: "n counts",
		   },
		   fontSize: 18
	       };
	       var amplhist = new google.visualization.Histogram(document.getElementById('hist_plot'));
	       amplhist.draw(histdata, options)
	   });

	   $('#update').click(function() {
	       socket.emit('update histogram',{"selected":$('#device').val()});
	   });
	   
	   var interval = 0;      

	   function continual(){
	       var rate = -1;

	       if ($.isNumeric($('#rep_rate').val())){
		   rate = $('#rep_rate').val();
	       }
	       
	       if ( (rate > 0) && (rate <= 5) ){	   
		   $('#rate_failure').hide();
		   if(interval != 0){
		       clearInterval(interval);
		   }
		   interval = setInterval(function() {
		       socket.emit('update histogram', {"selected":$('#device').val()});
		   }, 1000/rate);
		   $('#continual').hide();
		   $('#stop').show();
	       }
	       else if (rate == 0){
		   stop();
	       }
	       else{
		   $('#rate_failure').show();
		   $('#rep_rate').val("");
	       }
	   }

	   $('#continual').click(function() {
	       continual();
	   });

	   $('#rep_rate').keydown(function (e){
	       if(e.keyCode == 13){
		   continual();
	       }
	   });
	   
	   function stop(){
	       clearInterval(interval);
	       $('#continual').show();
	       $('#stop').hide();
	   } 

	   $('#stop').click(function() {
	       stop();
	   });

       });
     
    </script>

{% endblock body %}
