{% extends "layout.html" %}
{% block body %}
    <button id="generate">Generate Runlog</button> <b id="progress"></b>
    <a id="runlog" style="display: none"
		 href="{{url_for('get_upload', filename=path) }}">
       <br><br>runlog.csv </a>
    
    <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
	   namespace = '/online';
	   var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
	   
           socket.on('progress', function(msg) {
	       $('#progress').text(msg);
	   });
      
	   socket.on('runlog ready', function() {
	       $('#runlog').show();
	   });
       });

      $('#generate').click(function() {
      	  namespace = '/online';
	  var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
	  socket.emit('generate runlog');
      });
    </script>
    
    
{% endblock body %}
