{% extends "layout.html" %}
{% block body %}
  <img id="img" 
       src="" width="80%" style="display: none"></img>
    <br>
  <button id="update">Update Trace</button>

  <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
	   namespace = '/online';
	   var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

           socket.emit('update trace');

	   socket.on('trace ready', function(msg) {
               $('#img').show();
	       $('#img').attr('src',msg.path);
	   });

       });

      $('#update').click(function() {
      	  namespace = '/online';
	  var socket = io.connect('http://' + document.domain + 
				  ':' + location.port + namespace);
	  socket.emit('update trace');
      });
     
    </script>

{% endblock body %}
X
